<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">GRÁFICO X</h5>
                <p class="card-text">Texto referente ao gráfico x</p>

                <canvas id="base" class="chart-bar" chart-data="vm.data" chart-labels="vm.labels" chart-colors="vm.colors" chart-dataset-override="vm.datasetOverride">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">GRÁFICO Y</h5>
                <p class="card-text">Texto referente ao gráfico y</p>
                <canvas id="polar-area" class="chart chart-polar-area"
                chart-data="vm.datay" chart-labels="vm.labelsy" chart-options="vm.options">
              </canvas> 
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">GRÁFICO Z</h5>
                <p class="card-text">Texto referente ao gráfico z</p>

                <canvas id="bar" class="chart chart-bar"
                chart-data="vm.dataz" chart-labels="vm.labelsz" chart-series="series"
            </canvas>
            </div>
        </div>
    </div>
</div>