/* FUNDO PAGINA INICIAL */

/* Imagem de fundo da página inicial*/

.img-main {
    background-image: url(../img/fundo-index.jpg);
    transform: translate3d(0px, 0px, 0px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    min-height: calc(100vh - 56px);
}

/*Escurecimento da imagem do fundo da página inicial */

.header-filter:before {
    background: rgba(0, 0, 0, .8);
}

/*Alterado tamanho máximo da altura das imagens dos cards */

.card-img-top {
    max-height: 163px;
}

.card{
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Linha horizontal abaixo do nav */

hr {
    color: #f08f00;
    background-color: #f08f00;
    height: 5px;
}

/*Alterado cor da linha do input */

.form-control, .is-focused .form-control {
    background-image: linear-gradient(0deg, #f08f00 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

/*Alterado cor da linha do select e limitado o tamanho da altura */

.form-control:read-only {
    max-height: 36px;
    background-image: linear-gradient(0deg, #f08f00 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

/*Alterado cor da label do input */

.is-focused [class*=" bmd-label"], .is-focused [class^=bmd-label] {
    color: #f08f00;
}

/*Tamanho mínimo para cards */

@media (min-width: 992px) {
    .full-card {
        min-height: calc(100vh - 56px - 30px);
    }
    .medium-card {
        height: 400px;
    }
}

/* Erro */

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated .custom-select:invalid:focus, .custom-select.is-invalid:focus {
    box-shadow: none;
    background-image: linear-gradient(0deg, #f33527 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

input:disabled:hover {
    cursor: not-allowed;
}

/*HAS ERROR*/

/*ERRO WIZARD*/

.error{
    color: #f33527 !important;
}

/*Mudança de cor da label quando elemento estiver válido ou inválido*/
.has-error [class^='bmd-label'], .has-success [class*=' bmd-label'] {
    color: #f33527;
}

.has-success [class^='bmd-label'], .has-success [class*=' bmd-label'] {
    color: #4caf50;
}


/*Mudança de cor quando elemento estiver válido ou inválido*/
.form-group.has-error.is-focused .form-control {
    box-shadow: none;
    background-image: linear-gradient(0deg, #f33527 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

.form-group.has-success.is-focused .form-control {
    box-shadow: none;
    background-image: linear-gradient(0deg, #4caf50 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

.form-group.has-error.is-focused [class*=" bmd-label"], .form-group.has-error.is-focused [class^=bmd-label] {
    color: #f44336;
}

.form-group.has-success.is-focused [class*=" bmd-label"], .form-group.has-success.is-focused [class^=bmd-label] {
    color: #4caf50;
}


/*Icone no topo */ 
.icon-top-right {
    font-size: 18px;
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
}

/*Hover*/

/*links*/
a.text-warning:hover, a.text-warning:focus {
    color: #ff7708 !important;
}
/*buttons*/
.btn.btn-success:focus, .btn.btn-success.focus, .btn.btn-success:hover {
    color: #fff;
    background-color: #268a2a;
    border-color: #39843c;
}