<!DOCTYPE html>
<html ng-app="sonhosApp">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Software para auxiliar na conquista de sonhos ou objetivos financeiros">
    <title>
        Conquistando Sonhos
    </title>
    <link rel="stylesheet" href="assets/css/public.libs.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
    <cabecalho></cabecalho>
    <main class="page-header header-filter img-main d-block">
        <div class="container" ng-controller="DespesaCtrl as vm" ng-init="vm.atualizarGraficoDespesa()">
            <div class="container">
                <div class="row">
                    <div class="col-8 offset-2">
                        <div class="card wizard-card" data-color="orange" id="wizard">
                            <form>
                                <div class="wizard-header">
                                    <h3 class="wizard-title">
                                        Renda x Gasto
                                    </h3>
                                    <h5>Responda as questões abaixo para gerarmos o relatório com a relação de renda e despesa.</h5>
                                </div>
                                <div class="wizard-navigation">
                                    <ul>
                                        <li>
                                            <a href="#renda" data-toggle="tab">Rendas</a>
                                        </li>
                                        <li>
                                            <a href="#moradia" data-toggle="tab">Despesas Moradia</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" id="renda">
                                        <div class="form-row">
                                            <div class="col-12">
                                                <h4 class="info-text">O 1º passo é informar os valores de suas rendas mensais.</h4>
                                            </div>
                                            <div class="form-group offset-2 col-4">
                                                <label>Salário mensal</label>
                                                <input ng-model="vm.salario" type="number" min="1" step="any" class="form-control" ng-change="vm.atualizarGraficoDespesa()">
                                            </div>
                                            <div class="form-group col-4">
                                                <label>Total de outras rendas mensais</label>
                                                <input ng-model="vm.outrasReceitas" type="number" min="1" step="any" class="form-control" ng-change="vm.atualizarGraficoDespesa()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="moradia">
                                        <div class="form-row">
                                            <div class="col-12">
                                                <h4 class="info-text">O 2º passo é informar os valores gastos com moradia.</h4>
                                            </div>
                                            <div class="offset-1 col-2">
                                                <h5 class="text-warning font-weight-bold m-0">Despesa</h5>
                                            </div>
                                            <div class="col-4 pl-0">
                                                <h5 class="text-warning font-weight-bold m-0">Valor</h5>
                                            </div>
                                            <div class="col-4 pl-0">
                                                <h5 class="text-warning font-weight-bold m-0">Tipo de despesa</h5>
                                            </div>
                                            <despesa titulo="'Aluguel'" valor-despesa="0" tipo-despesa="'essencial'" class="form-row col-12">
                                            </despesa>
                                            <despesa titulo="'IPTU'" valor-despesa="0" tipo-despesa="'essencial'" class="form-row col-12">
                                            </despesa>
                                            <despesa titulo="'Condomínio'" valor-despesa="0" tipo-despesa="'essencial'" class="form-row col-12">
                                            </despesa>
                                            <despesa titulo="'Água'" valor-despesa="0" tipo-despesa="'possoReduzir'" class="form-row col-12">
                                            </despesa>
                                            <despesa titulo="'Luz'" valor-despesa="0" tipo-despesa="'possoReduzir'" class="form-row col-12">
                                            </despesa>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="wizard-footer">
                                <div class="float-right">
                                    <input type='button' class='btn btn-next btn-fill btn-danger btn-wd float-right' name='next' value='Próximo' />
                                    <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd float-right' name='finish' value='Finalizar' />
                                </div>
                                <div class="float-left">
                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd float-left' name='previous' value='Previous' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--   Bibliotecas públicas-->
    <script src="assets/js/public.libs.js"></script>
    <!-- Métodos compartilhados -->
    <script src="app.util.js"></script>
    <!-- Arquivos AngularJS -->
    <script src="app.module.js"></script>
    <script src="controllers/despesa.controller.js"></script>
    <script src="directives/menu.directive.js"></script>
    <script src="directives/despesa.directive.js"></script>
</body>

</html>