<!DOCTYPE html>
<html ng-app="sonhosApp">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Software para auxiliar na conquista de sonhos ou objetivos financeiros">
    <title>
        Conquistando Sonhos
    </title>
    <link rel="stylesheet" href="assets/css/public.libs.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
    <cabecalho></cabecalho>
    <main class="page-header header-filter img-main d-block">
        <div class="container" ng-controller="DespesaCtrl as vm" ng-init="vm.atualizarGraficoDespesa()">
            <div class="row">
                <!-- Bloco de despesas -->
                <div class="col-7">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Salários e outras rendas</h5>
                            <p class="card-text">Quanto você ganha pos mês?</p>
                            <form>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="bmd-label-floating">Valor do salário</label>
                                        <input ng-model="vm.salario" type="number" class="form-control" ng-change="vm.atualizarGraficoDespesa()">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="bmd-label-floating">Valor de outras rendas</label>
                                        <input ng-model="vm.outrasReceitas" type="number" class="form-control" ng-change="vm.atualizarGraficoDespesa()">
                                    </div>
                                </div>

                                <!--Despesas Aleatórias -->
                                <h5 class="card-title">Despesas</h5>
                                <p class="card-text">Quanto você gasta pos mês?</p>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="bmd-label-floating">Valor despesas essenciais</label>
                                        <input ng-model="vm.valorEssencial" type="number" class="form-control" ng-change="vm.atualizarGraficoDespesa()">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="bmd-label-floating">Valor despesas redução</label>
                                        <input ng-model="vm.valorReducao" type="number" class="form-control" ng-change="vm.atualizarGraficoDespesa()">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="bmd-label-floating">Valor despesas corte</label>
                                        <input ng-model="vm.valorCorte" type="number" class="form-control" ng-change="vm.atualizarGraficoDespesa()">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Bloco dos gráficos -->
                <div class="col-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Renda x Gastos</h5>
                            <p class="card-text">Veja a comparação da sua renda com seus gastos.</p>
                            <canvas id="pie" class="chart chart-pie" chart-data="vm.comparativo.data" chart-labels="vm.comparativo.labels" chart-options="vm.options">
                            </canvas>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Distrubição dos gastos</h5>
                            <p class="card-text">Veja como está a distribução dos seus gastos</p>
                            <canvas id="pie" class="chart chart-pie" chart-data="vm.distribuicaoGastros.data" chart-labels="vm.distribuicaoGastros.labels"
                                chart-options="vm.options">
                            </canvas>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--   Bibliotecas públicas-->
    <script src="assets/js/public.libs.js"></script>
    <!-- Métodos compartilhados -->
    <script src="app.util.js"></script>
    <!-- Arquivos AngularJS -->
    <script src="app.module.js"></script>
    <script src="controllers/despesa.controller.js"></script>
    <script src="directives/menu.directive.js"></script>
    <script src="directives/despesa.directive.js"></script>
</body>

</html>