<!DOCTYPE html>
<html ng-app="sonhosApp">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Software para auxiliar na conquista de sonhos ou objetivos financeiros">
    <title>
        Conquistando Sonhos
    </title>
    <link rel="stylesheet" href="assets/css/public.libs.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
    <cabecalho></cabecalho>
    <main class="page-header header-filter img-main d-block">
        <div class="container p-0" ng-controller="SonhoCtrl as vm" ng-init="vm.calcularSonho()">
            <div class="row">
                <!-- Bloco de despesas -->
                <div class="col-12 col-sm-12 col-md-4 m-auto">
                    <div class="card sonho">
                        <div class="card-body full-card">
                            <h3 class="card-title">Planejando a realização de um sonho</h3>
                            <form id="formSonho">
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label class="bmd-label-static">Valor do seu sonho
                                        </label>
                                        <input name="valorSonho" ng-model="vm.valorSonho" ng-change="vm.calcularSonho()" type="text" ui-money-mask currency-symbol="R$"
                                            class="form-control" required>
                                    </div>

                                    <div class="form-group col-12">
                                        <label>Em quantos meses pretende realizá-lo
                                        </label>
                                        <input name="meses" ng-model="vm.meses" ng-change="vm.calcularSonho()" type="text" ui-number-mask(0) class="form-control"
                                            required>
                                    </div>
                                    <div class="form-group col-12">
                                        <label>Valor poupado até o momento
                                        </label>
                                        <input ng-model="vm.valorPoupado" ng-change="vm.calcularSonho()" type="text" ui-number-mask(0) class="form-control">
                                    </div>
                                    <div class="col-12">
                                        <h4 class="card-title">Para conquistar o sonho você precisa economizar:
                                            <span class="text-success font-weight-bold"> {{vm.valorEconomizar | currency : 'R$'}}</span>
                                        </h4>
                                        <h4 class="card-title" ng-show="vm.valorSobra > 0">Dessa forma ainda vai sobrar para você gastar:
                                            <span class="text-success font-weight-bold"> {{vm.valorSobra | currency : 'R$'}}</span>
                                        </h4>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--   Bibliotecas públicas-->
    <script src="assets/js/public.libs.js"></script>
    <!-- Métodos compartilhados -->
    <script src="app.util.js"></script>
    <!-- Arquivos AngularJS -->
    <script src="app.module.js"></script>
    <script src="controllers/sonho.controller.js"></script>
    <script src="directives/menu.directive.js"></script>
    <script src="directives/despesa.directive.js"></script>
    <script src="validators/validators.js"></script>
</body>

</html>